.product-options-bottom, .product-info-price {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -.02em;
    color: #222529;
    margin-bottom: 1.25rem;
    clear: both;
}
.product-info-main .product.overview {
    font-size: 1.1428em;
    line-height: 1.6875;
    letter-spacing: -.015em;
    clear: both;
}
.product-info-main .page-title-wrapper h1 {
    font-size: 14px;
    line-height: 1.2;
    color: #222529;
    letter-spacing: -.01em;
    font-weight: 700;
    margin-bottom: 0.2em;
}
.swatch-option {
   border: 1px solid #dadada;
    cursor: pointer;
    float: left;
    height: 17px !important;
    width: 100% !important;
    margin: 0 0.5em 0.25em 0;
    max-width: fit-content;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 10% !important;
}
.swatch-attribute.size .swatch-option {
    border: 1px solid #ccc !important;
    font-size: 12px !important;
    font-weight: bold !important;
}
/*.product-item-photo .default_image {
    position: relative;
    z-index: 1;
    min-height: 275px;
    object-fit: cover;
}
.product-image-photo.hover_image {
    min-height: 275px;
    object-fit: cover;
}*/
.page-layout-2columns-left .column.main {
    width: 70%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}
.page-layout-2columns-left .sidebar-main {
    width: 30%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}
.filter-options-content .swatch-option {
    border: 1px solid #dadada;
    cursor: pointer;
    float: left;
    height: 100% !important;
    width: 100% !important;
    margin: 0 0.5em 0.25em 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 10% !important;
}
.filter-options-content .swatch-option.text {
    min-width: 100% !important;
    padding: 0 !important;
    margin: 0 5px !important;
}
.product-item-details .swatch-option.color{
    height: 17px !important;
    width: 20px !important;
    border-radius: 50% !important;
}
.filter-options-content .swatch-option.color {
    display: block;
    margin: 4px 5px 2px 2px;
    padding-right: 0!important;
    width: 28px !important;
    height: 17px !important;
    white-space: nowrap;
    position: relative;
    text-align: left;
    border: none;
    min-width: auto;
    padding: 0;
    outline: none;
    position: relative;
}
.swatch-option.text {
    min-width: 17px !important;
    padding: 0 !important;
    margin: 1px 1px !important;
}

.color .swatch-option {
    border: 1px solid #dadada;
    cursor: pointer;
    float: left;
    height: 17px !important;
    width: 17px !important;
    margin: 0 0.5em 0.25em 0;
    max-width: 17px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 50% !important;
}
.product-info-main .product-reviews-summary {
    color: #999;
    margin-bottom: 0;
    margin-top: 0;
    font-size: .9286em;
}
.product-social-links {
    margin: 0;
    text-align: left;
    float: left;
}
.product-item-details .price-box span.price-container.price-final_price.tax.weee {
    display: initial !important;
    position: relative;
    top: -4px;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    .fixed-box {
        display: none;
    }
    .page-layout-1column .block.widget .products-grid .product-item {
        margin-left: 1% !important;
        width: calc((100% - 8%)/6) !important;
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    .fixed-box {
        display: none;
    }
    .page-layout-1column .block.widget .products-grid .product-item {
        margin-left: 1% !important;
        width: calc((100% - 8%)/6) !important;
    }
    
  }
