<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="product-item-details">
    <table>
        <tr>
            <td><img
                data-bind="attr: {'src': item.src, 'width': item.width, 'height': item.height }"/></td>
            <td style="width: 70%;"><strong class="product-item-name" data-bind="html: name"></strong></td>
            <td style="text-align: left;">
                <div class="details-qty">
                    <span class="value" data-bind="text: item.qty"></span>
                </div>
            </td>
            <td style="text-align: right;">$<span class="subtotal" data-bind="html: item.row_total"></span></td>
        </tr>
    </table>
</div>
