<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Isobar\OneFieldName\Api\CustomerManagementInterface"
                type="Isobar\OneFieldName\Model\CustomerManagement"
    />
    <preference for="Isobar\OneFieldName\Api\Data\CustomerBackupInterface"
                type="Isobar\OneFieldName\Model\CustomerBackup"
    />
    <preference for="Isobar\OneFieldName\Api\Data\AddressBackupInterface"
                type="Isobar\OneFieldName\Model\AddressBackup"
    />
    <type name="Magento\Customer\Block\Widget\Name">
        <plugin name="Isobar_OneFieldName::remove_lastname"
                type="Isobar\OneFieldName\Plugin\Magento\Customer\Block\Widget\Name"
                sortOrder="100"
                disabled="false"
        />
    </type>
    <type name="Magento\Customer\Model\Address\Validator\General">
        <plugin name="Isobar_OneFieldName::remove_validate_address_lastname"
                type="Isobar\OneFieldName\Plugin\Magento\Customer\Model\Address\Validator\General"
                sortOrder="100"
                disabled="false"
        />
    </type>
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="Isobar_OneFieldName::remove_validate_customer_lastname"
                type="Isobar\OneFieldName\Plugin\Magento\Customer\Model\AccountManagement"
                sortOrder="100"
                disabled="false"
        />
    </type>
    <type name="Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses">
        <plugin name="Isobar_OneFieldName::update_visible_lastname_metadata_customer_form"
                type="Isobar\OneFieldName\Plugin\Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses"
                sortOrder="100"
                disabled="false"
        />
    </type>
    <type name="Magento\Eav\Model\Attribute\Data\Multiline">
        <plugin name="Isobar_OneFieldName::update_value_street_oneline"
                type="Isobar\OneFieldName\Plugin\Attribute\Data\SetStreetValueOneLine"
                sortOrder="100"
                disabled="false"
        />
    </type>
</config>
