<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_one_field_name">
        <observer name="Isobar_OneFieldName::handle_lastname_per_website"
                  instance="Isobar\OneFieldName\Observer\Config\Section\OneFieldName"
        />
    </event>
    <event name="sales_order_save_before">
        <observer name="Isobar_OneFieldName::handle_lastname_before_save_order"
                  instance="Isobar\OneFieldName\Observer\SalesOrder\Address\Lastname"
        />
    </event>
</config>
