<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr style="background-color: #fafdff;"
    attr="'class': 'row shipping-option customshipping ' + method.method_code"
    click="element.selectShippingMethod">
    <!-- ko ifnot: (method.error_message) -->
    <td class="col col-price">
        <div tabindex="0"
             data-available="1"
             type="stand_shipping"
             role="radio"
             class="shipping-item shipping-selected"
             style="display: flex; align-items: center"
             aria-checked="true">
            <div class="option-r">
                <div class="she-radio">
                    <input type="radio"
                           ifnot="method.error_message"
                           class="required-entry"
                           data-validate="{'validate-one-required-by-name':true}"
                           ko-value="method.carrier_code + '_' + method.method_code"
                           attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                    'name': method.carrier_code + method.shop" />
                    <i></i>
                </div>
            </div>
            <div class="option-des">
                <span class="name" attr="'id': 'label_method_' + method.shop + '_' + method.carrier_code"
                      text="method.method_title" style="text-transform: uppercase"></span>
                <br>
                <span class="price">
                    <each args="element.getRegion('price')" render=""></each>
                </span>
                <span style="font-size: small;" class="name"
                      text="method.carrier_title"></span>
            </div>
        </div>
    </td>
    <!-- /ko -->
</tr>
<tr class="row row-error"
    if="method.error_message">
    <td class="col col-error" colspan="4">
        <div role="alert" class="message error">
            <div text="method.error_message"></div>
        </div>
        <span class="no-display">
            <input type="radio"
                   attr="'value' : method.method_code, 'id': 's_method_' + method.method_code">
        </span>
    </td>
</tr>
